.blur {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.main {
    width: 500px;
    padding: 32px 24px;
    box-sizing: border-box;
    border-radius: 20px;
    
    position: fixed;
    left: 50%;
    top: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    z-index: 3;
}