.blur {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
}

.main {
    width: 500px;
    height: 340px;
    box-sizing: border-box;
    border-radius: 20px;

    position: absolute;
    top: calc((100% - 300px) / 2);
    left: calc((100% - 500px) / 2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;

}