.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;

    box-shadow: 3px 1px 20px rgb(0, 0, 0, 0.3);
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 1% 2%;
    width: 100%;
}

.main_title{
    font-size: 29px;
    color: #4338ca;
}

.button_list {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    gap: 3vw;
}

.button{
    font-size: 18px;
    padding-bottom: 2px;
}

.button:hover {
    padding-bottom: 0;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.auth {
    font-size: 19px;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: #4338ca;
    color: white;
    height: 100%;
}
.auth:hover{
    cursor: pointer;
}