.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding-bottom: 0.7vh;

    box-shadow: 3px 1px 20px rgb(0, 0, 0, 0.3);
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 1% 2%;
    width: 100%;
}

.main_title{
    font-size: 29px;
    font-weight: 700;
}

.button_list {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    gap: 3vw;
    
    li a {
      font-size: 20px;
      color: hsl(240, 63%, 50%) !important;
    }
}

.button{
    font-size: 20px;
    padding-bottom: 2px;
}

.button:hover {
    padding-bottom: 0;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.auth_button {
    font-size: 19px;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--bg-primary);
    height: 100%;
    cursor: pointer;
}

.auth_button:hover{
  background: var(--bg-secondary);
  color: var(--color-secondary);
}

.auth-buttons {
  display: flex;
  gap: 20px;
}