.menu-container {
  width: 100%;

  header {
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 36px;
      letter-spacing: 0.03em;
      color: var(--color-primary);
    }
  }

  .container {
    margin-top: 24px;
    padding: 0px 12px;
    display: flex;
    justify-content: space-between;
  }
}