.container {
	width: 100%;
	padding: 32px;
	max-width: 2000px;
	margin: 0 auto;
}

.title {
	display: flex;
	align-items: center;
	margin: 0 0 24px 0;
	font-size: 32px;
	font-weight: 600;
	color: #333;
}

@media (max-width: 768px) {
	.container {
		padding: 16px;
	}

	.title {
		font-size: 24px;
	}
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ingr_div{
	display: flex;
	gap: 20px;
	margin-top: 30px;
}
.select{
	font-size: 18px;
	border: none;
    outline: none;
	padding: 1px;
	margin: 0 1px;
	border: 1px solid rgba(0, 0, 0, 0.5);
}
.select:hover{
	border: 1px solid #000;
}
.input{
	font-size: 18px;
	text-align: center;

    outline: none;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.input:hover{
	border-bottom: 1px solid #000;
}
.button_div{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}