*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}

a,Link{
    text-decoration: none;
}

button{
    border: none;
    background-color: white;
}


h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}