.section{
    display: flex;
    justify-content: center;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 8vh;

    width: 35%;
    padding: 30px 30px;
    border-radius: 15px;
    
    box-shadow: 3px 1px 20px rgb(0, 0, 0, 0.3);
}

.title_section__title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #4338ca;
}
.title_section__description{
    width: 100% !important;
    font-size: 19px;
    width: 500px;
    text-align: center;
}

.ability_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.ability_section__title{
  font-size: 36px;
  font-weight: 600;
}

.container {
  margin-top: 52px;
  display: flex;
  gap: 80px;

  h3 {
    color: var(--color-primary);
    font-size: 28px;
    font-weight: 700;
  }
}