.section{
    display: flex;
    justify-content: center;
}

.title_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 8vh;

    width: 35%;
    padding: 30px 30px;
    border-radius: 15px;
    
    box-shadow: 3px 1px 20px rgb(0, 0, 0, 0.3);
}

.title_section__title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #4338ca;
}
.title_section__description{
    width: 100% !important;
    font-size: 19px;
    width: 500px;
    text-align: center;
}

.ability_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.ability_section__title{
    font-size: 36px;
    font-weight: 600;
}
.ability_ul{
    display: flex;
    margin-top: 40px;
    gap: 50px;
}
.ability_li {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 250px;
    height: 280px;

    padding: 25px 30px;

    box-shadow: 3px 1px 20px rgb(0, 0, 0, 0.3);
    border-radius: 20px;
}
.ability_li h4{
    font-size: 26px;
}
.ability_li p{
    font-size: 20px;
}
.ability_img{
    width: 80px;
}