.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.main_div{
    display: flex;
    justify-content: center;
    gap: 150px;
}
.container {
	flex: 1;
	padding: 12px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: default !important;
}

.title {
	margin: 0 0 12px 0;
	font-size: 20px;
	font-weight: 600;
	color: #1a1a1a;
    cursor: default !important;
}

.table {
    width: 100%;
	border-collapse: collapse;
    cursor: default !important;
}

.table th,
.table td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #e5e7eb;
}

.table th {
	font-size: 16px;
	font-weight: 600;
	color: #6b7280;
	text-transform: uppercase;
    cursor: default !important;
}

.table td {
	font-size: 17px;
	color: #374151;
    cursor: default !important;
    text-align: center !important;
}
.h2{
    text-align: center;
    margin-bottom: 10px;
}

.row {
	cursor: pointer;
	transition: background 0.2s;
    cursor: default !important;
}

.row:hover {
	background: #f9fafb;
}