.menu-container {
	width: 100%;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 {
			font-size: 36px;
			letter-spacing: 0.03em;
			color: var(--color-primary);
		}
	}

	.container {
		margin-top: 24px;
		padding: 0px 12px;
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.day-selector-wrapper {
		display: flex;
		justify-content: center;
	}

	.meals-wrapper {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.day-title {
		font-size: 24px;
		font-weight: 600;
		color: var(--color-secondary);
		text-align: center;
	}
}
