.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.div{
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 1px 20px rgb(0, 0, 0, 0.3);
    padding: 25px 35px;

    transition: all ease-in-out 300ms;
}
.div:hover{
    transform: scale(1.02) translateY(-5px);
}
.h2{
    text-align: center;
}
.h5{
    text-align: end;
    font-weight: 600;
}
.p{
    margin-top: 20px;
    font-style: italic;
}